<%= bootstrap_form_with(model: team) do |form| %>
  <%= form.text_field :name %>

  <%= form.collection_select :head_coach_id, @team.users, :id, :full_name, label: "Head Coach (optional)" %>

  <%= form.collection_select :assistant_coach_id, @team.users, :id, :full_name, label: "Assistant Coach (optional)" %>

  <%= form.number_field :year %>

  <%= form.text_field :club %>

  <div class="d-flex flex-row justify-content-between">
    <%= link_to "Cancel", teams_path, class: "btn btn-light" %>
    <%= form.submit %>
  </div>
<% end %>
