<div id="<%= dom_id team %>">
  <p>
    <strong>Name:</strong>
    <%= team.name %>
  </p>

  <p>
    <strong>HC:</strong>
    <%= team.head_coach %>
  </p>

  <p>
    <strong>AC:</strong>
    <%= team.assistant_coach %>
  </p>

  <p>
    <strong>Year:</strong>
    <%= team.year %>
  </p>

  <p>
    <strong>Club:</strong>
    <%= team.club %>
  </p>

</div>
