<div class="card mt-4">
  <div class="card-body">
    <p class="mt-0 text-muted"><%= team.club %></p>
    <h3 class="mb-2"><%= team.name %> - <%= team.year %></h3>
    <p>Head Coach: <%= team.head_coach || "None" %></p>
    <p>Assistant Coach: <%= team.assistant_coach || "None" %></p>
  </div>
  <div class="card-footer d-flex justify-content-between">
    <%= link_to "Edit", edit_team_path(team), class: "btn btn-secondary" %>
    <%= link_to "Delete", team, class: "btn btn-danger", data: {turbo_method: :delete} %>
  </div>
</div>
