<%= turbo_frame_tag "player_rotation_#{rotation_number}" do %>
  <div class="card" data-controller="players-card">
    <div class="d-flex flex-row align-items-center pb-1 rounded-top <%= "text-bg-primary" if @player.volleyball_setter? %>">
      <h5 class="text-center flex-grow-1 m-0">
        <%= @player %> <%= @player.jersey_number if @player.persisted? %></span>
      </h5>
      <% if @player.serving? %>
        <div class="badge text-bg-primary">Serving</div>
      <% end %>
    </div>
    <hr class="m-0"/>
    <div class="card-body p-1">
      <%= turbo_frame_tag dom_id(@player, :new_event) do %>
        <%= render(Events::FormComponent.new(event: Event.new(volleyball_set: @volleyball_set, player: @player))) %>
      <% end %>
      <div class="d-flex flex-column gap-3">
        <div class="d-flex flex-row align-items-center justify-content-between flex-wrap">
          <div class="d-flex flex-row gap-2 flex-nowrap w-100">
            <input type="radio" class="btn-check" name="attack-options-outlined-<%= @player.id %>" id="attack-success-outlined-<%= @player.id %>" autocomplete="off" data-action="players-card#submit" data-players-card-target="statButton" data-category="point_earned" data-skill-point="attack">
            <label class="flex-fill btn btn-success" for="attack-success-outlined-<%= @player.id %>">Kill</label>
            <input type="radio" class="btn-check" name="attack-options-outlined-<%= @player.id %>" id="attack-danger-outlined-<%= @player.id %>" autocomplete="off" data-action="players-card#submit" data-players-card-target="statButton" data-category="point_given" data-skill-error="attack">
            <label class="flex-fill btn btn-danger" for="attack-danger-outlined-<%= @player.id %>">Att<span class="d-none d-xl-inline-block">ack</span> Error</label>
            <input type="radio" class="btn-check" name="serve-options-outlined-<%= @player.id %>" id="serve-danger-outlined-<%= @player.id %>" autocomplete="off" data-action="players-card#submit" data-players-card-target="statButton" data-category="point_given" data-skill-error="serve">
            <label class="flex-fill btn btn-danger" for="serve-danger-outlined-<%= @player.id %>">Serve Error</label>
            <div class="flex-fill">
              <button type="button" class="btn btn-outline-secondary w-100" data-bs-toggle="modal" data-bs-target="#otherActionModal<%= @player.id %>">
                Other Plays
              </button>

              <div class="modal fade" id="otherActionModal<%= @player.id %>" tabindex="-1" aria-labelledby="otherActionModal<%= @player.id %>Label" aria-hidden="true" data-players-card-target="modal">
                <div class="modal-dialog">
                  <div class="modal-content">
                    <div class="modal-header">
                      <h1 class="modal-title fs-5" id="otherActionModal<%= @player.id %>Label">Other Action: <%= @player.persisted? ? @player : "#{@volleyball_set.game.away_team} Player" %></h1>
                      <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                    </div>
                    <div class="modal-body">
                      <div class="d-flex flex-column gap-3">
                        <div class="d-flex flex-row align-items-center justify-content-between flex-wrap">
                          <p class="m-0">Net:</p>
                          <div class="d-flex flex-row gap-2 flex-nowrap">
                            <input type="radio" class="btn-check" name="net-touch-outlined-<%= @player.id %>" id="net-touch-danger-outlined-<%= @player.id %>" autocomplete="off" data-action="players-card#submit" data-players-card-target="statButton" data-category="point_given" data-skill-error="net">
                            <label class="btn btn-danger" for="net-touch-danger-outlined-<%= @player.id %>">Touch</label>
                            <input type="radio" class="btn-check" name="under-outlined-<%= @player.id %>" id="under-danger-outlined-<%= @player.id %>" autocomplete="off" data-action="players-card#submit" data-players-card-target="statButton" data-category="point_given" data-skill-error="under">
                            <label class="btn btn-danger" for="under-danger-outlined-<%= @player.id %>">Under</label>
                          </div>
                        </div>
                        <div class="d-flex flex-row align-items-center justify-content-between flex-wrap">
                          <p class="m-0">BHE:</p>
                          <div class="d-flex flex-row gap-2 flex-nowrap">
                            <input type="radio" class="btn-check" name="lift-outlined-<%= @player.id %>" id="lift-danger-outlined-<%= @player.id %>" autocomplete="off" data-action="players-card#submit" data-players-card-target="statButton" data-category="point_given" data-skill-error="lift">
                            <label class="btn btn-danger" for="lift-danger-outlined-<%= @player.id %>">Lift</label>
                            <input type="radio" class="btn-check" name="double-outlined-<%= @player.id %>" id="double-danger-outlined-<%= @player.id %>" autocomplete="off" data-action="players-card#submit" data-players-card-target="statButton" data-category="point_given" data-skill-error="double">
                            <label class="btn btn-danger" for="double-danger-outlined-<%= @player.id %>">Double</label>
                            <input type="radio" class="btn-check" name="second-contact-outlined-<%= @player.id %>" id="second-contact-danger-outlined-<%= @player.id %>" autocomplete="off" data-action="players-card#submit" data-players-card-target="statButton" data-category="point_given" data-skill-error="second_contact">
                            <label class="btn btn-danger" for="second-contact-danger-outlined-<%= @player.id %>">Second Contact</label>
                          </div>
                        </div>
                        <div class="d-flex flex-row align-items-center justify-content-between flex-wrap">
                          <p class="m-0">Other:</p>
                          <div class="d-flex flex-row gap-2 flex-nowrap">
                            <input type="radio" class="btn-check" name="out-of-rotation-outlined-<%= @player.id %>" id="out-of-rotation-danger-outlined-<%= @player.id %>" autocomplete="off" data-action="players-card#submit" data-players-card-target="statButton" data-category="point_given" data-skill-error="out_of_rotation">
                            <label class="btn btn-danger" for="out-of-rotation-danger-outlined-<%= @player.id %>">Rotation</label>
                            <input type="radio" class="btn-check" name="back-row-attack-outlined-<%= @player.id %>" id="back-row-attack-danger-outlined-<%= @player.id %>" autocomplete="off" data-action="players-card#submit" data-players-card-target="statButton" data-category="point_given" data-skill-error="back_row_attack">
                            <label class="btn btn-danger" for="back-row-attack-danger-outlined-<%= @player.id %>">Back Row Attack</label>
                          </div>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
            <%= turbo_frame_tag dom_id(@player, :undo_button), class: "flex-fill" do %>
              <%= render(Events::UndoComponent.new(event: @most_recent_event)) %>
            <% end %>
          </div>
        </div>
      </div>
    </div>
  </div>
<% end %>