<ul class="btn-group-vertical w-100 ps-0">
  <% @volleyball_set.players.each do |player| %>
    <button class="btn btn-outline-secondary d-flex flex-row justify-content-between py-2 align-items-center" 
      data-game-events-target="player" 
      data-action="click->game-events#selectPlayer" 
      data-name="<%= player %>"
      data-id="<%= player.id %>">
        <div>
          <span><%= player.user.jersey_number %></span>
          <span><%= player.role.humanize %></span>
        </div>
        <% if player.serving? %>
          <div class="badge bg-light text-dark">serving</div>
        <% end %>
    </button>
  <% end %>
  <button class="btn btn-outline-secondary d-flex flex-row justify-content-between py-2 align-items-center" 
    data-game-events-target="player" 
    data-action="click->game-events#selectPlayer" 
    data-name="<%= @volleyball_set.game.away_team %>"
    data-id="">
      <div>
        <span><%= @volleyball_set.game.away_team %> Player</span>
      </div>
      <% if !@volleyball_set.home_team_serving? %>
        <div class="badge bg-light text-dark">serving</div>
      <% end %>
  </button>
</ul>