<div data-controller="players-substitution">
  <button type="button" class="btn btn-outline-light border-0 text-dark btn-sm" data-bs-toggle="modal" data-bs-target="#substitutionModal<%= @player.id %>">
    Substitution
  </button>

  <div class="modal fade" id="substitutionModal<%= @player.id %>" tabindex="-1" aria-labelledby="substitutionModal<%= @player.id %>Label" aria-hidden="true" data-players-substitution-target="modal">
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-header">
          <h1 class="modal-title fs-5" id="substitutionModal<%= @player.id %>Label">Substitution: <%= @player %></h1>
          <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
        </div>
        <div class="modal-body">
          <h4>Coming In:</h4>
          <%= bootstrap_form_with(model: @player, url: substitution_player_path(@player), method: :put, data: {"players-substitution-target": "form", turbo_stream: true}) do |form| %>
            <%= form.collection_radio_buttons :substitution_id, @bench_players, :id, :full_information, required: true %>
            <%= form.submit "Sub", class: "btn btn-primary btn-sm float-end", data: {"players-substitution-target": "submitButton"} %>
          <% end %>
        </div>
      </div>
    </div>
  </div>
</div>