<%= bootstrap_form_with(model: user) do |form| %>
  <%= form.text_field :first_name, required: true %>
  <%= form.text_field :last_name, required: true %>
  <%= form.number_field :jersey_number %>
  <%= form.collection_select :team_id, Team.all, :id, :name %>
  <%= form.select :role, User.roles.keys.map{|role| [role.humanize, role]}, required: true %>
  <%= form.select :position, User.positions.keys.map{|position| [position.humanize, position]}, required: true %>
  <%= form.collection_select :organization_id, Organization.all, :id, :title, include_blank: true %>

  <div class="d-flex flex-row justify-content-between">
    <%= link_to "Cancel", users_path, class: "btn btn-light" %>
    <div>
      <%= link_to "Delete", user, class: "btn btn-danger", data: {turbo_method: :delete, turbo_confirm: "Are you sure?"} %>
      <%= form.submit class: "btn btn-primary" %>
    </div>
  </div>
<% end %>
