<div class="card mt-4">
  <div class="card-body">
    <p class="mt-0 text-muted"><%= user.organization %></p>
    <h3 class="mb-2"><%= user.full_name %> - <%= user.team %></h3>
    <p>Jersey: <%= user.jersey_number %></p>
  </div>
  <div class="card-footer d-flex justify-content-between">
    <%= link_to "Edit", edit_user_path(user), class: "btn btn-secondary" %>
    <%= link_to "Delete", user, class: "btn btn-danger", data: {turbo_method: :delete} %>
  </div>
</div>