<div id="<%= dom_id user %>">
  <p>
    <strong>First name:</strong>
    <%= user.first_name %>
  </p>

  <p>
    <strong>Last name:</strong>
    <%= user.last_name %>
  </p>

  <p>
    <strong>Jersey number:</strong>
    <%= user.jersey_number %>
  </p>

  <p>
    <strong>Team:</strong>
    <%= user.team_id %>
  </p>

  <p>
    <strong>Position:</strong>
    <%= user.position %>
  </p>

</div>
