<div class="d-flex justify-content-between mt-4">
  <h1>Users</h1>
  <div>
    <% if @users.count != User.all.count %>
      <%= link_to "All Users", users_path, class: "btn btn-light" %>
    <% end %>
    <%= link_to "New user", new_user_path, class: "btn btn-primary", title: "Hey", data: {"bs-toggle": "tooltip"} %>
  </div>
</div>

<div id="users">
  <table class="table table-sm table-hover">
    <thead>
      <tr>
        <th>First</th>
        <th>Last</th>
        <th>Team</th>
        <th>Role</th>
        <th>Position</th>
        <th>Edit</th>
      </tr>
    </thead>
    <tbody>
      <% @users.each do |user| %>
        <tr>
          <td><%= user.first_name %></td>
          <td><%= user.last_name %></td>
          <td><%= link_to user.team %></td>
          <td><%= user.role.humanize %></td>
          <td><%= user.position&.humanize %></td>
          <td><%= link_to "edit", edit_user_path(user) %></td>
        </tr>
      <% end %>
    </tbody>
  </table>
</div>