<div class="d-flex justify-content-between mt-4">
  <h1>Users</h1>
  <div>
    <%= link_to "New user", new_user_path, class: "btn btn-primary", title: "Hey", data: {"bs-toggle": "tooltip"} %>
  </div>
</div>

<div id="users">
  <table class="table table-sm table-hover">
    <thead>
      <tr>
        <th>First</th>
        <th>Last</th>
        <th>Team</th>
        <th>Position</th>
      </tr>
    </thead>
    <tbody>
      <% @users.each do |user| %>
        <tr>
          <th><%= user.first_name %></th>
          <th><%= user.last_name %></th>
          <th><%= link_to user.team %></th>
          <th><%= user.position.humanize %></th>
        </tr>
      <% end %>
    </tbody>
  </table>
</div>