<div id="<%= dom_id event %>">
  <p>
    <strong>Volleyball set:</strong>
    <%= event.volleyball_set_id %>
  </p>

  <p>
    <strong>User:</strong>
    <%= event.user_id %>
  </p>

  <p>
    <strong>Game:</strong>
    <%= event.game_id %>
  </p>

  <p>
    <strong>Team:</strong>
    <%= event.team_id %>
  </p>

  <p>
    <strong>Rotation:</strong>
    <%= event.rotation %>
  </p>

  <p>
    <strong>Continuation:</strong>
    <%= event.continuation %>
  </p>

  <p>
    <strong>Earned:</strong>
    <%= event.earned %>
  </p>

  <p>
    <strong>Given:</strong>
    <%= event.given %>
  </p>

</div>
