<%= turbo_stream.replace dom_id(Event.new) do %>
  <turbo-fame id="<%= dom_id(Event.new) %>">
    <%= bootstrap_form_with model: [@volleyball_set, Event.new], data: {"game-events-target": "submissionForm"} do |form| %>
      <%= form.hidden_field :player_id, value: 1, data: {"game-events-target": "playerSubmission"} %>
      <%= form.hidden_field :category, value: nil, data: {"game-events-target": "categorySubmission"} %>
      <%= form.hidden_field :rally_skill, value: nil, data: {"game-events-target": "rallySkillSubmission"} %>
      <%= form.hidden_field :skill_point, value: nil, data: {"game-events-target": "skillPointSubmission"} %>
      <%= form.hidden_field :skill_error, value: nil, data: {"game-events-target": "skillErrorSubmission"} %>
      <%= form.hidden_field :quality, value: nil, data: {"game-events-target": "qualitySubmission"} %>
    <% end %>
  </turbo-frame>
<% end %>

<%= turbo_stream.replace :events do %>
  <turbo-fame id="events">
    <ul class="list-group mt-4">
      <% @volleyball_set.events.reverse_each do |event| %>
        <li class="list-group-item"><%= event %></li>
      <% end %>
    </ul>
  </turbo-frame>
<% end %>

<%= turbo_stream.replace :players do %>
  <%= turbo_frame_tag :players do %>
    <%= render(Players::LineupComponent.new(volleyball_set: @volleyball_set)) %>
  <% end %>
<% end %>