<% if @volleyball_set.events.empty? %>
  <%= bootstrap_form_with url: set_lineup_volleyball_set_path(@volleyball_set), method: :put do |form| %>
    <div class="border border-3 mt-4 mt-lg-0"></div>
    <div class="d-flex flex-row">
      <div class="d-flex flex-column flex-grow-1">
        <div class="border-bottom border-end p-1 text-center d-flex flex-column">
          <h4 class="m-0"><%= form.collection_select :rotation_four_id, @players, :id, :jersey_number, selected: @players.find_by(starting_rotation: 4)&.id, required: true, include_blank: true, hide_label: true, wrapper_class: "m-0 form-control-sm" %></h4>
        </div>
        <div class="border-top border-end p-1 text-center d-flex flex-column flex-grow-1">
          <h4 class="m-0"><%= form.collection_select :rotation_five_id, @players, :id, :jersey_number, selected: @players.find_by(starting_rotation: 5)&.id, required: true, include_blank: true, hide_label: true, wrapper_class: "m-0 form-control-sm" %></h4>
        </div>
      </div>
      <div class="d-flex flex-column flex-grow-1">
        <div class="border-bottom border-end border-start p-1 text-center d-flex flex-column">
          <h4 class="m-0"><%= form.collection_select :rotation_three_id, @players, :id, :jersey_number, selected: @players.find_by(starting_rotation: 3)&.id, required: true, include_blank: true, hide_label: true, wrapper_class: "m-0 form-control-sm" %></h4>
        </div>
        <div class="border-top border-end border-start p-1 text-center d-flex flex-column">
          <h4 class="m-0"><%= form.collection_select :rotation_six_id, @players, :id, :jersey_number, selected: @players.find_by(starting_rotation: 6)&.id, required: true, include_blank: true, hide_label: true, wrapper_class: "m-0 form-control-sm" %></h4>
        </div>
      </div>
      <div class="d-flex flex-column flex-grow-1">
        <div class="border-bottom border-start p-1 text-center d-flex flex-column">
          <h4 class="m-0"><%= form.collection_select :rotation_two_id, @players, :id, :jersey_number, selected: @players.find_by(starting_rotation: 2)&.id, required: true, include_blank: true, hide_label: true, wrapper_class: "m-0 form-control-sm" %></h4>
        </div>
        <div class="border-top border-start p-1 text-center d-flex flex-column">
          <h4 class="m-0"><%= form.collection_select :rotation_one_id, @players, :id, :jersey_number, selected: @players.find_by(starting_rotation: 1)&.id, required: true, include_blank: true, hide_label: true, wrapper_class: "m-0 form-control-sm" %></h4>
        </div>
      </div>
    </div>
    <h4 class="m-0"><%= form.collection_select :libero_id, @players, :id, :jersey_number, selected: @players.find_by(starting_libero: true)&.id, required: false, include_blank: true, wrapper_class: "m-0 form-control-sm" %></h4>
    <%= form.submit "Save Lineup", class: "btn btn-primary btn-sm w-100 mt-3" %>
  <% end %>
<% else %>
  <div class="border border-3 mt-4 mt-lg-0"></div>
  <div class="d-flex flex-row">
    <div class="d-flex flex-column flex-grow-1">
      <div class="border-bottom border-end p-1 text-center d-flex flex-column">
        <h4 class="m-0 mt-2"><%= @players.find_by(starting_rotation: 4).jersey_number %></h4>
        <p class="m-0 mb-2 text-muted"><%= @players.find_by(starting_rotation: 4) %></p>
      </div>
      <div class="border-top border-end p-1 text-center d-flex flex-column flex-grow-1">
        <h4 class="m-0 mt-2"><%= @players.find_by(starting_rotation: 5).jersey_number %></h4>
        <p class="m-0 mb-2 text-muted"><%= @players.find_by(starting_rotation: 5) %></p>
      </div>
    </div>
    <div class="d-flex flex-column flex-grow-1">
      <div class="border-bottom border-end border-start p-1 text-center d-flex flex-column">
        <h4 class="m-0 mt-2"><%= @players.find_by(starting_rotation: 3).jersey_number %></h4>
        <p class="m-0 mb-2 text-muted"><%= @players.find_by(starting_rotation: 3) %></p>
      </div>
      <div class="border-top border-end border-start p-1 text-center d-flex flex-column">
        <h4 class="m-0 mt-2"><%= @players.find_by(starting_rotation: 6).jersey_number %></h4>
        <p class="m-0 mb-2 text-muted"><%= @players.find_by(starting_rotation: 6) %></p>
      </div>
    </div>
    <div class="d-flex flex-column flex-grow-1">
      <div class="border-bottom border-start p-1 text-center d-flex flex-column">
        <h4 class="m-0 mt-2"><%= @players.find_by(starting_rotation: 2).jersey_number %></h4>
        <p class="m-0 mb-2 text-muted"><%= @players.find_by(starting_rotation: 2) %></p>
      </div>
      <div class="border-top border-start p-1 text-center d-flex flex-column">
        <h4 class="m-0 mt-2"><%= @players.find_by(starting_rotation: 1).jersey_number %></h4>
        <p class="m-0 mb-2 text-muted"><%= @players.find_by(starting_rotation: 1) %></p>
      </div>
    </div>
  </div>
  <h4 class="m-0 mt-4">Libero:</h4>
  <div class="border p-1 text-center d-flex flex-column w-100">
    <h4 class="m-0 mt-2"><%= @players.find_by(starting_libero: true).jersey_number %></h4>
    <p class="m-0 mb-2 text-muted"><%= @players.find_by(starting_libero: true) %></p>
  </div>
<% end %>