<div id="<%= dom_id game %>">
  <p>
    <strong>Home Team:</strong>
    <%= game.home_team %>
  </p>

  <p>
    <strong>Away Team:</strong>
    <%= game.away_team %>
  </p>

  <p>
    <strong>Title:</strong>
    <%= game.title %>
  </p>

  <p>
    <strong>Date:</strong>
    <%= game.date %>
  </p>

</div>
