<div class="d-flex justify-content-between mt-4">
  <h1>Games</h1>
  <div>
    <%= link_to "New Game", new_game_path, class: "btn btn-primary" %>
  </div>
</div>

<div id="games">
  <table class="table table-sm table-hover">
    <thead>
      <tr>
        <th>Game</th>
        <th>Home Team</th>
        <th>Away Team</th>
        <th>Date</th>
        <th>Edit</th>
      </tr>
    </thead>
    <tbody>
      <% @games.each do |game| %>
        <tr>
          <td><%= link_to game.title, game_path(game) %></td>
          <td><%= game.home_team %></td>
          <td><%= game.away_team %></td>
          <td class="text-nowrap"><%= game.date.strftime("%b %d, %Y") %></td>
          <td><%= link_to "edit", edit_game_path(game) %></td>
        </tr>
      <% end %>
    </tbody>
  </table>
</div>