<% content_for(:page_title) do %>
  <%= @game %>
<% end %>

<p style="color: green"><%= notice %></p>

<div class="d-flex justify-content-between mt-4">
  <div>
    <h1 class="mb-0"><%= @game %> <%= @game.home_team %> vs <%= @game.away_team %></h1>
    <small class="text-muted"><%= @game.tournament %> <%= @game.date.strftime("%Y-%m-%d") %></small>
  </div>
  <div>
    <%= link_to "Edit", edit_game_path(@game), class: "btn btn-sm btn-outline-light text-dark border-0" %>
    <%= link_to "Stats", stats_game_path(@game), class: "btn btn-sm btn-outline-light text-dark border-0" if @game.events.any? %>
  </div>
</div>

<% @game.volleyball_sets.each do |volleyball_set| %>
  <div class="d-flex flex-row justify-content-between align-items-center mt-4 mb-2">
    <div>
      <h3 class="m-0">
        Set <%= volleyball_set.position %>

        <% if volleyball_set.events.any? %>
          : <%= volleyball_set.home_score %> - <%= volleyball_set.away_score %>
        <% end %>
      </h3>
    </div>
    <div class="d-flex flex-row align-items-center">
      <%= bootstrap_form_with model: volleyball_set, class: "m-0" do |form| %>
        <%= form.select :serving_team_id, [["home", volleyball_set.game.home_team_id], ["away", volleyball_set.game.away_team_id]], {hide_label: true, wrapper_class: "m-0 me-2"}, {onchange: "this.form.submit();"} %>
      <% end %>
      <% if volleyball_set.has_valid_starting_lineup? %>
        <div>
          <%= link_to "Gameplay", log_events_volleyball_set_path(volleyball_set), class: "me-2 btn btn-light border-0", data: {turbo_frame: "_top"} %>
        </div>
      <% end %>
      <% if volleyball_set.events.any? %>
        <div>
          <%= link_to "Stats", stats_game_path({volleyball_set_id: volleyball_set.id}), class: "me-2 btn btn-light border-0", data: {turbo_frame: "_top"} %>
        </div>
      <% end %>
      <div>
        <%= link_to "remove", volleyball_set_path(volleyball_set), class: "text-danger btn btn-light border-0", data: {turbo_method: :delete, turbo_confirm: "Are you sure?"} %>
      </div>
    </div>
  </div>
  <div class="row">
    <div class="col-lg-6">
      <h4 class="mt-4">Roster</h4>
      <%= render Players::ListComponent.new(volleyball_set: volleyball_set) %>
    </div>
    <div class="col-lg-6">
      <h4 class="mt-4">Starting Lineup</h4>
      <%= render(VolleyballSets::StartingLineupComponent.new(volleyball_set: volleyball_set)) %>
    </div>
  </div>
<% end %>

<hr/>

<%= bootstrap_form_with model: [@game, VolleyballSet.new] do |form| %>
  <div class="d-flex flex-row mt-4">
    <%= form.submit "+ Set", class: "btn btn-outline-primary flex-grow-1 me-2" %>
    <%= form.select :starting_setter_rotation, options_for_select(1..6, 1), hide_label: true, wrapper_class: "m-0" %>
  </div>
<% end %>
