<% content_for(:page_title) do %>
  <%= @game %>
<% end %>

<p style="color: green"><%= notice %></p>

<div class="d-flex justify-content-between mt-4">
  <div>
    <h1 class="mb-0"><%= @game %> <%= @game.home_team %> vs <%= @game.away_team %></h1>
    <small class="text-muted"><%= @game.date.strftime("%Y-%m-%d") %>
  </div>
  <div>
    <%= link_to "Edit", edit_game_path(@game), class: "btn btn-sm btn-outline-light text-dark border-0" %>
    <%= link_to "Stats", stats_game_path(@game), class: "btn btn-sm btn-outline-light text-dark border-0" if @game.events.any? %>
  </div>
</div>

<% @game.volleyball_sets.each do |volleyball_set| %>
  <div class="d-flex flex-row justify-content-between align-items-center mt-4 mb-2">
    <div>
      <h3 class="m-0">Set <%= volleyball_set.position %></h3>
    </div>
    <div class="d-flex flex-row align-items-center">
      <%= bootstrap_form_with model: volleyball_set do |form| %>
        <%= form.select :serving_team_id, [["home", volleyball_set.game.home_team_id], ["away", volleyball_set.game.away_team_id]], {hide_label: true, wrapper_class: "m-0 me-2"}, {onchange: "this.form.submit();"} %>
      <% end %>
      <div>
        <%= link_to "log events", log_events_volleyball_set_path(volleyball_set), class: "me-2 btn btn-light border-0", data: {turbo_frame: "_top"} %>
      </div>
      <div>
        <%= link_to "remove", volleyball_set_path(volleyball_set), class: "text-danger btn btn-light border-0", data: {turbo_method: :delete, turbo_confirm: "Are you sure?"} %>
      </div>
    </div>
  </div>
  <div class="row">
    <div class="col-lg-6">
      <h4 class="mt-4">Roster</h4>
      <%= render Players::ListComponent.new(players: volleyball_set.players, volleyball_set: volleyball_set) %>
    </div>
    <div class="col-lg-6">
      <h4 class="mt-4">Lineup</h4>
      <%= bootstrap_form_with url: set_lineup_volleyball_set_path(volleyball_set), method: :put do |form| %>
        <div class="border border-3 mt-4 mt-lg-0"></div>
        <div class="d-flex flex-row">
          <div class="d-flex flex-column flex-grow-1">
            <div class="border-bottom border-end p-1 text-center d-flex flex-column">
              <h4 class="m-0"><%= form.collection_select :rotation_four_id, volleyball_set.players, :id, :jersey_number, selected: volleyball_set.players.find_by(rotation: 4)&.id, required: true, include_blank: true, hide_label: true, wrapper_class: "m-0 form-control-sm" %></h4>
            </div>
            <div class="border-top border-end p-1 text-center d-flex flex-column flex-grow-1">
              <h4 class="m-0"><%= form.collection_select :rotation_five_id, volleyball_set.players, :id, :jersey_number, selected: volleyball_set.players.find_by(rotation: 5)&.id, required: true, include_blank: true, hide_label: true, wrapper_class: "m-0 form-control-sm" %></h4>
            </div>
          </div>
          <div class="d-flex flex-column flex-grow-1">
            <div class="border-bottom border-end border-start p-1 text-center d-flex flex-column">
              <h4 class="m-0"><%= form.collection_select :rotation_three_id, volleyball_set.players, :id, :jersey_number, selected: volleyball_set.players.find_by(rotation: 3)&.id, required: true, include_blank: true, hide_label: true, wrapper_class: "m-0 form-control-sm" %></h4>
            </div>
            <div class="border-top border-end border-start p-1 text-center d-flex flex-column">
              <h4 class="m-0"><%= form.collection_select :rotation_six_id, volleyball_set.players, :id, :jersey_number, selected: volleyball_set.players.find_by(rotation: 6)&.id, required: true, include_blank: true, hide_label: true, wrapper_class: "m-0 form-control-sm" %></h4>
            </div>
          </div>
          <div class="d-flex flex-column flex-grow-1">
            <div class="border-bottom border-start p-1 text-center d-flex flex-column">
              <h4 class="m-0"><%= form.collection_select :rotation_two_id, volleyball_set.players, :id, :jersey_number, selected: volleyball_set.players.find_by(rotation: 2)&.id, required: true, include_blank: true, hide_label: true, wrapper_class: "m-0 form-control-sm" %></h4>
            </div>
            <div class="border-top border-start p-1 text-center d-flex flex-column">
              <h4 class="m-0"><%= form.collection_select :rotation_one_id, volleyball_set.players, :id, :jersey_number, selected: volleyball_set.players.find_by(rotation: 1)&.id, required: true, include_blank: true, hide_label: true, wrapper_class: "m-0 form-control-sm" %></h4>
            </div>
          </div>
        </div>
        <%= form.submit "Save Lineup", class: "btn btn-primary btn-sm w-100 mt-3" %>
      <% end %>
    </div>
  </div>
<% end %>

<hr/>

<%= bootstrap_form_with model: [@game, VolleyballSet.new] do |form| %>
  <div class="d-flex flex-row mt-4">
    <%= form.submit "+ Set", class: "btn btn-outline-primary flex-grow-1 me-2" %>
    <%= form.select :starting_setter_rotation, options_for_select(1..6, 1), hide_label: true, wrapper_class: "m-0" %>
  </div>
<% end %>
