<% content_for(:page_title) do %>
  <%= @game %> - Stats
<% end %>

<div class="d-flex justify-content-between mt-4">
  <div>
    <h1 class="mb-0"><%= @volleyball_sets.count == 1 ?  @volleyball_sets.first.to_s : @game %> Stats</h1>
    <small class="text-muted"><%= @game.date.strftime("%Y-%m-%d") %>
  </div>
</div>
<div class="row mt-4">
  <div class="col-lg-6">
    <div class="card">
      <div class="card-body">
        <table class="table table-sm">
          <thead>
            <tr>
              <th class="col text-start"><%= @game.home_team %></th>
              <th class="col text-center">Statistic</th>
              <th class="col text-end"><%= @game.away_team %></th>
            </tr>
          </thead>
          <tbody>
            <tr>
              <td class="text-start"><%= Games::StatsService.points_earned(events: @home_team_events) %></td>
              <td class="text-center">Points Earned</td>
              <td class="text-end"><%= Games::StatsService.points_earned(events: @away_team_events) %></td>
            </tr>
            <tr>
              <td class="text-start"><%= Games::StatsService.points_given(events: @home_team_events) %></td>
              <td class="text-center">Points Given</td>
              <td class="text-end"><%= Games::StatsService.points_given(events: @away_team_events) %></td>
            </tr>
            <tr>
              <td class="text-start"><%= @home_team_events.kills.count %></td>
              <td class="text-center">Kills</td>
              <td class="text-end"><%= @away_team_events.kills.count %></td>
            </tr>
            <tr>
              <td class="text-start"><%= @home_team_events.skill_error_attack.count %></td>
              <td class="text-center">Attacking Errors</td>
              <td class="text-end"><%= @away_team_events.skill_error_attack.count %></td>
            </tr>
            <tr>
              <td class="text-start"><%= Games::StatsService.aces(events: @home_team_events).round(3) %></td>
              <td class="text-center">Aces</td>
              <td class="text-end"><%= Games::StatsService.aces(events: @away_team_events).round(3) %></td>
            </tr>
            <tr>
              <td class="text-start"><%= @home_team_events.skill_point_block.count %></td>
              <td class="text-center">Blocks</td>
              <td class="text-end"><%= @away_team_events.skill_point_block.count %></td>
            </tr>
            <tr>
              <td class="text-start"><%= @home_team_events.rally_skill_dig.count %></td>
              <td class="text-center">Digs</td>
              <td class="text-end">-<%#= @away_team_events.rally_skill_dig.count %></td>
            </tr>
            <tr>
              <td class="text-start"><%= Games::StatsService.passing_average(events: @home_team_events).round(3) %></td>
              <td class="text-center">Passing %</td>
              <td class="text-end">-<%#= Games::StatsService.passing_average(events: @away_team_events).round(3) %></td>
            </tr>
            <tr>
              <td class="text-start"><%= Games::StatsService.free_ball_passing_average(events: @home_team_events).round(3) %></td>
              <td class="text-center">FB Passing %</td>
              <td class="text-end">-<%#= Games::StatsService.free_ball_passing_average(events: @away_team_events).round(3) %></td>
            </tr>
          </tbody>
        </table>
      </div>
    </div>
  </div>
  <div class="col-lg-6">
    <div class="row">
      <div class="col-sm-6">
        <div class="card w-100">
          <div class="card-body">
            <h6 class="card-subtitle text-body-secondary">HIT PERCENTAGE</h6>
            <h4 class="card-title mb-3"><%= Games::StatsService.attack_percentage(events: @home_team_events).round(3) %></h4>
            <div class="row mt-3">
              <div class="col-4 d-flex flex-column align-items-center">
                <p class="mb-0"><%= @home_team_events.skill_point_attack.count %></p>
                <small class="text-muted m-0">KILL</small>
              </div>
              <div class="col-4 d-flex flex-column align-items-center">
                <p class="mb-0"><%= @home_team_events.skill_error_attack.count %></p>
                <small class="text-muted m-0">ERR</small>
              </div>
              <div class="col-4 d-flex flex-column align-items-center">
                <p class="mb-0"><%= @home_team_events.attack_attempts.count %></p>
                <small class="text-muted m-0">TOT</small>
              </div>
            </div>
          </div>
        </div>
      </div>

      <div class="col-sm-6">
        <div class="card w-100">
          <div class="card-body">
            <h6 class="card-subtitle text-body-secondary">PASS PERCENTAGE</h6>
            <h4 class="card-title mb-3"><%= Games::StatsService.passing_average(events: @home_team_events).round(3) %></h4>
            <div class="row mt-3">
              <div class="col d-flex flex-column align-items-center">
                <p class="mb-0"><%= @home_team_events.skill_error_serve_receive.count %></p>
                <small class="text-muted m-0">ERR</small>
              </div>
              <div class="col d-flex flex-column align-items-center">
                <p class="mb-0"><%= @home_team_events.rally_skill_serve_receive.where(quality: 1).count %></p>
                <small class="text-muted m-0">1</small>
              </div>
              <div class="col d-flex flex-column align-items-center">
                <p class="mb-0"><%= @home_team_events.rally_skill_serve_receive.where(quality: 2).count %></p>
                <small class="text-muted m-0">2</small>
              </div>
              <div class="col d-flex flex-column align-items-center">
                <p class="mb-0"><%= @home_team_events.rally_skill_serve_receive.where(quality: 3).count %></p>
                <small class="text-muted m-0">3</small>
              </div>
              <div class="col d-flex flex-column align-items-center">
                <p class="mb-0"><%= @home_team_events.rally_skill_serve_receive.where(quality: 4).count %></p>
                <small class="text-muted m-0">4</small>
              </div>
            </div>
          </div>
        </div>
      </div>

      <div class="col-sm-6 mt-4">
        <div class="card w-100">
          <div class="card-body">
            <h6 class="card-subtitle text-body-secondary">POINTS EARNED</h6>
            <h4 class="card-title mb-3 text-success"><%= Games::StatsService.points_earned(events: @home_team_events).round(3) %></h4>
            <div class="row mt-3">
              <div class="col d-flex flex-column align-items-center">
                <p class="mb-0"><%= @home_team_events.kills.count %></p>
                <small class="text-muted m-0">KILL</small>
              </div>
              <div class="col d-flex flex-column align-items-center">
                <p class="mb-0"><%= @home_team_events.skill_point_block.count %></p>
                <small class="text-muted m-0">BLOCK</small>
              </div>
              <div class="col d-flex flex-column align-items-center">
                <p class="mb-0"><%= @home_team_events.skill_point_ace.count %></p>
                <small class="text-muted m-0">ACE</small>
              </div>
            </div>
          </div>
        </div>
      </div>

      <div class="col-sm-6 mt-4">
        <div class="card w-100">
          <div class="card-body">
            <h6 class="card-subtitle text-body-secondary">POINTS GIVEN</h6>
            <h4 class="card-title mb-3 text-danger"><%= Games::StatsService.points_given(events: @home_team_events).round(3) %></h4>
            <div class="row mt-3">
              <div class="col d-flex flex-column align-items-center">
                <p class="mb-0"><%= @home_team_events.skill_error_serve.count %></p>
                <small class="text-muted m-0">SRVE</small>
              </div>
              <div class="col d-flex flex-column align-items-center">
                <p class="mb-0"><%= @home_team_events.attack_errors.count %></p>
                <small class="text-muted m-0">ATT</small>
              </div>
              <div class="col d-flex flex-column align-items-center">
                <p class="mb-0"><%= @home_team_events.skill_error_serve_receive.count %></p>
                <small class="text-muted m-0">PASS</small>
              </div>
              <div class="col d-flex flex-column align-items-center">
                <p class="mb-0"><%= @home_team_events.where.not(skill_error: Event::ATTACK_ERROR_CATEGORIES + [:serve_receive, :serve, :under]).count %></p>
                <small class="text-muted m-0">+</small>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>