<div id="<%= dom_id player %>">
  <p>
    <strong>User:</strong>
    <%= player.user_id %>
  </p>

  <p>
    <strong>Game:</strong>
    <%= player.game_id %>
  </p>

  <p>
    <strong>Volleyball set:</strong>
    <%= player.volleyball_set_id %>
  </p>

  <p>
    <strong>role:</strong>
    <%= player.role %>
  </p>

</div>
