<div class="card mt-4">
  <div class="card-body">
    <p class="mt-0 text-muted"><%= organization.website %></p>
    <h3 class="mb-2"><%= organization.title %> - <%= organization.category.humanize %></h3>
    <p>Manager: <%= organization.user %></p>
  </div>
  <div class="card-footer d-flex justify-content-between">
    <%= link_to "Edit", edit_organization_path(organization), class: "btn btn-secondary" %>
    <%= link_to "Delete", organization, class: "btn btn-danger", data: {turbo_method: :delete} %>
  </div>
</div>