<% content_for(:page_title) do %>
  <%= @volleyball_set.game %> set <%= @volleyball_set.position %>
<% end %>

<div>
  <div class="row mt-4">
    <div class="col-md-8">
      <h2 class="mb-0"><%= @volleyball_set.game %> <span class="text-muted">Set <%= @volleyball_set.position %></span></h2>
      <small class="text-muted"><%= @volleyball_set.game.date.strftime("%Y-%m-%d") %></small>
    </div>
    <div class="col-md-4">
      <div class="d-flex flex-row mt-3 m-md-0">
        <div class="text-center w-100">
          <small class="text-muted text-nowrap"><%= @volleyball_set.game.home_team %></small>
          <h4 class="my-1"><%= @volleyball_set.home_score %></h4>
          <small class="text-muted text-nowrap">TOL: 1</small>
        </div>
        <div class="text-center w-100">
          <small class="text-muted text-nowrap"><%= @volleyball_set.game.away_team %></small>
          <h4 class="my-1"><%= @volleyball_set.away_score %></h4>
          <%# todo: time outs left %>
          <small class="text-muted text-nowrap">TOL: 1</small>
        </div>
      </div>
    </div>
  </div>

  <div class="row mt-4">
    <div class="col-md-4">
      <%= render(Players::CardComponent.new(player: @volleyball_set.players.find_by(rotation: 4))) %>
    </div>
    <div class="col-md-4">
      <%= render(Players::CardComponent.new(player: @volleyball_set.players.find_by(rotation: 3))) %>
    </div>
    <div class="col-md-4">
      <%= render(Players::CardComponent.new(player: @volleyball_set.players.find_by(rotation: 2))) %>
    </div>
    <div class="col-md-4 mt-md-4">
      <%= render(Players::CardComponent.new(player: @volleyball_set.players.find_by(rotation: 5))) %>
    </div>
    <div class="col-md-4 mt-md-4">
      <%= render(Players::CardComponent.new(player: @volleyball_set.players.find_by(rotation: 6))) %>
    </div>
     <div class="col-md-4 mt-md-4">
      <%= render(Players::CardComponent.new(player: @volleyball_set.players.find_by(rotation: 1))) %>
    </div>

    <div class="col-md-4 mt-md-4">
      <%= render(Players::CardComponent.new(player: Player.new(volleyball_set: @volleyball_set))) %>
    </div>
  </div>
</div>

<%= render(Events::ListComponent.new(volleyball_set: @volleyball_set)) %>